*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

.nav-menu {
  font-size: 38px;
  color: #fff;
  position: fixed;
  right: 94%;
  top: 1%;
  z-index: 99999;
  width: 56px;
  display: block;
  cursor: pointer;
  height: 45px;
  /* background: rgba(0, 0, 0, 0.4); */
  padding: 5px 8px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

/* video section  */

.video-sec {
  height: 100%;
  width: 100%;
}

.video-sec video,
.video-sec source {
  height: 100vh;
  width: 100%;
  object-fit: cover;
}

.video-sec {
  overflow: hidden;
  width: 100%;
  left: 0;
  top: 0;
}

.video-sec:before,
.blue-section:before {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: 0.6;
  content: "";
}

.video-sec .video-text {
  position: absolute;
  width: 100%;
  z-index: 9;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.video-sec .video-text h1 {
  font-size: 110px;
  background: linear-gradient(#CD1380, #B0CB1E);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
}

.video-sec .video-text h2 {
  font-size: 80px;
  background: linear-gradient(#CD1380, #B0CB1E);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
}

.video-sec .video-text .play-bttn {
  margin-top: 15px;
  display: inline-block;
}


/* video responsive  */

@media (max-width: 1300px) {

  .video-sec .video-text h1,
  .vouchers h2 {
    font-size: 90px;
  }
}

@media (max-width: 1199px) {

  .video-sec .video-text h1,
  .vouchers h2 {
    font-size: 75px;
    letter-spacing: 2px;
  }
}

@media (max-width:991px) {

  .video-sec .video-text h1,
  .vouchers h2 {
    font-size: 60px;
  }

  .video-sec .video-text .play-bttn img {
    max-width: 150px;
  }
}

@media (max-width: 767px) {
  .video-sec .video-text .play-bttn img {
    max-width: 120px;
  }

  .video-sec .video-text h1,
  .vouchers h2 {
    font-size: 48px;
  }

  .video-sec .video-text {
    margin-top: -30px;
  }

  .video-sec video,
  .video-sec source {
    height: 80vh;
  }

  .video-sec {
    margin-top: -94px;
  }

  .video-sec:before,
  .blue-section:before {
    height: 81%;
  }
}

@media (min-width:10px) and (max-width:480px) {

  .video-sec .video-text h1,
  .vouchers h2 {
    font-size: 38px;
  }
}

@media (max-width: 767px) {

  .video-sec:before,
  .blue-section:before {
    height: 64%;
  }
  .nav-menu {
    right: 84%;
  }
}

/* scroling  */
.img-1 {
  background-image: url("../images/trampoline\ park01.JPG");
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img-2 {
  background-image: url("../images/bowling02.JPG");
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img-3 {
  background-image: url("../images/arcade03.JPG");
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img-4 {
  background-image: url("../images/virtual\ reality04.jpg");
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img-5 {
  background-image: url("../images/wall\ calmbing\ 05.jpg");
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img-6 {
  background-image: url("../images/laser-tag06.png");
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img-7 {
  background-image: url("../images/WARBOTZ07.jpg");
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img-8 {
  background-image: url("../images/laser\ spy\ 08.jpg");
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img-9 {
  background-image: url("../images/shooting\ 09.JPG");
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img-10 {
  background-image: url("../images/turf\ 10.jpg");
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.heading {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 1em;
  text-transform: capitalize;
}

.name {
  text-align: center;
  color: #C91580;
  font-weight: 600;
  margin-top: 2rem;
}

.content {
  text-align: center;
  color: #140d51;
  font-size: 22px;
  text-justify: auto;
}

/* end scroling  */
/*-- contact --*/

.contact-w3ls {
  background: url(../images/back.image.jpg) no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  -ms-background-size: 100% 100%;
}


/*-- mail --*/

.agileinfo_mail_grid_right input[type="text"],
.agileinfo_mail_grid_right input[type="email"],
.agileinfo_mail_grid_right textarea {
  outline: none;
  padding: 10px;
  font-size: 14px;
  color: #fff;
  background: rgba(255, 255, 255, 0.25);
  width: 100%;
  letter-spacing: 1px;
  border: none;
}

.agileinfo_mail_grid_right textarea {
  min-height: 200px;
  margin: 1em 1.1em;
  width: 95.3% !important;
  resize: none;
}

.agileinfo_mail_grid_right input[type="submit"],
.agileinfo_mail_grid_right input[type="reset"] {
  outline: none;
  padding: 13px 0;
  font-size: 12px;
  color: #fff;
  background: #ff2f68;
  width: 45.9%;
  border: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-left: 1.4em;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
  transition: 0.5s all;
}

.agileinfo_mail_grid_right input[type="submit"]:hover,
.agileinfo_mail_grid_right input[type="reset"]:hover {
  background: #fff;
  color: #000;
}

.agileinfo_mail_grid_right input[type="text"]:nth-child(2),
.agileinfo_mail_grid_right input[type="email"] {
  margin: 1em 0 0;
}

.contact-left-w3ls .glyphicon {
  font-size: 1.2em;
  background: rgba(255, 255, 255, 0.25);
  padding: 13px 15px;
  color: #000000;
}

.contact-left-w3ls h4,
.contact-left-w3ls h5 {
  text-align: left;
  
}

.contact-left-w3ls h4 {
  color: black(255, 255, 255);
  font-size: 1.3em;
  margin-bottom: .5em;
  text-shadow: 1px 1px 2px #000;
}

.contact-left-w3ls p {
  color: #fff;
}

.contact-left-w3ls p a {
  color: #fff;
}

.contact-left-w3ls p a:hover {
  color: #E91E63;
}

.mail-w3 {
  padding: 2em 0;
}

.call {
  padding-bottom: 2em;
}

.agileinfo_mail_grids h3 {
  font-size: 2.2em;
  color: #fff;
  margin-bottom: 0.8em;
  padding-left: 16px;
  letter-spacing: 1px;
  font-weight: 400;
}


/*-- //mail --*/


/*-- /contact --*/
